.mainDiv{
    border: 1px solid lightgrey;
    width: 25vw;
    height: 140vh;
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
 
}
/* .btnDiv{
 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
} */
.h3{
text-align: left;
color: black;
display: flex;
align-items: center;
justify-content: space-between;
gap: 9.8rem;

}



.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4px;
    gap: 4px;
    
}


.icons{
  background-color: darkgray;
  color: black;
  border: 2px solid white;  
  border-radius: 2px;
 display: flex;
 
 font-size: 20px;
 width: 18rem;
    height: 3rem;
    text-align: left;
}
.icons:hover{
    background-color:whitesmoke;
    cursor: pointer;
}
.btn2{
    width: 18rem;
    height: 3rem;
    background-color: darkgray;
    display: flex;
   align-items: center;
   color: black;
   text-align: left;
  gap: 21px;
}
.btn2:hover{
    background-color:whitesmoke;
    cursor: pointer;
}
